<%- include('includes/header.ejs') %>
 
      <section class="content">
        <div class="conteiner">
          <div class="content-box">
            <div class="content-main">
              <h2>Добавить двигатель</h2>
              <form action="/addMotor" method="post">
                <div class="dataEntry">
                <h3>Выбирете судовладельца</h3>
                  <select name="owner">
                    <% for(let t of todos) { %>
                      <option value="<%= t._id %>"><%= t.title %></option>
                    <% } %>
                  </select>
                </div>
                <div class="dataEntry">
                  <h3>Выбирете теплоход</h3>
                  <select name="shipId">
                    <% for(let s of ships) { %>
                      <option value="<%= s._id %>"><%= s.nameShip %></option>
                    <% } %>
                  </select>
                </div>
                <div class="dataEntry">
                  <h3>Марка двигателя</h3>
                  <input name="modelMotor" />
                </div>
                <div class="dataEntry">
                  <h3>Номер двигателя</h3>
                  <input name="numberMotor">
                </div>
                <div class="dataEntry">
                  <h3>Год выпуска</h3>
                  <input name="yearMotor" />
                </div>
                <div class="dataEntry">
                  <h3>Год капремонта</h3>
                  <input name="yearRepair" />
                </div>
                <div class="dataEntry">
                  <h3>Завод изготовитель</h3>
                  <input name="factoryMotor" />
                </div>
                <div class="dataEntry">
                  <h3>Назначеие двигателя</h3>
                  <select name="purposeMotor">
                    <option value="gd">Главный</option>
                    <option value="dg">Вспомогательный</option>
                  </select>
                </div>
                <div class="dataEntry">
                  <h3>Расположение двигателя</h3>
                  <select name="locationMotor">
                    <option value="c">Центральное</option>
                    <option value="l">Левое</option>
                    <option value="p">Правое</option>
                  </select>
                </div>
                <div class="dataEntry">
                  <h3>Наработка до капремонта</h3>
                  <input name="timeMotor" />
                </div>
                <div class="dataEntry">
                  <h3>Номинальная мощность, кВт</h3>
                  <input name="powerMotor" />
                </div>
                <div class="dataEntry">
                  <h3>Число оборотов, об/мин</h3>
                  <input name="speedMotor" />
                </div>
                <div class="dataEntry">
                  <h3>Расход топлива, кг/ч</h3>
                  <input name="fuelFlow" />
                </div>
                <div class="dataEntry">
                  <h3>Число цилиндров</h3>
                  <input name="numberCylinders" />
                </div>
                <div class="dataEntry">
                  <h3>Расположение цилиндров</h3>
                  <select name="cylinderPosition">
                    <option value="v">V-образное</option>
                    <option value="r">Рядное</option>
                  </select>
                </div>
                <div class="dataEntry">
                  <h3>Диаметр цилиндра, мм</h3>
                  <input name="diametrCylinder" />
                </div>
                <div class="dataEntry">
                  <h3>Ход поршня, мм</h3>
                  <input name="pistonStroke" />
                </div>
                <div class="dataEntry">
                  <h3>Степень сжатия</h3>
                  <input name="ratioCompress" />
                </div>
                <div class="dataEntry">
                  <h3>Угол впрыска</h3>
                  <input name="injectionAngle" />
                </div>
                <div class="dataEntry">
                  <h3>Способ наддува</h3>
                  <select name="boost">
                    <option value="b">без наддува</option>
                    <option value="t">турбонаддув</option>
                  </select>
                </div>
                <div class="dataEntry">
                  <h3>Ср. эффект. давление</h3>
                  <input name="pressure" />
                </div>
                <div class="entry-btn">
                  <input type="submit" value="Добавить">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

<%- include('includes/footer.ejs') %>    